
<ul class="nav justify-content-center">
      <li class="active nav-item"><a href="/" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="/saved" class="nav-link">Saved Articles</a></li>
      <li class="nav-item"><a class="btn btn-danger scrape-new nav-link">CHECK FOR NEW ARTICLES!</a></li>
    </ul>
<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Saved Articles</h1>
    <p>Your Saved Articles</p>
  </div>
</div>
<div class="container-fluid article-container">
</div>

<footer class="footer">
  <div class="container">
    <p>Fake News Scraper</p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
  <script src="/saved.js"></script>

